<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EY.US.RecordAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EY.US.RecordAddin.Properties.Settings>
            <setting name="IpEngID" serializeAs="String">
                <value>Eng Metadata ID</value>
            </setting>
            <setting name="OpClientName" serializeAs="String">
                <value>Client Name</value>
            </setting>
            <setting name="OpEngName" serializeAs="String">
                <value>Eng Name</value>
            </setting>
            <setting name="OpEngID" serializeAs="String">
                <value>Eng ID</value>
            </setting>
            <setting name="OpClientID" serializeAs="String">
                <value>Client ID</value>
            </setting>
        </EY.US.RecordAddin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
